{% extends 'base.html' %}{% load crispy_forms_tags %} {% block title %}
Catgories{% endblock title %} {%load static %} {%block content %}
{% include 'nav.html' %}
<main class="page">
    <section class="tags-wrapper">
     <!-- single tag -->
     {%for category, ingredients in categories.items%}
         {%if ingredients_view%}
            <a href={%url 'filtered_recipes' category.id %} class="tag">
                <h5>{{category.name}}</h5>
                <p>{{ingredients|length}} Recipes</p>
         {%else%}
            <a href={%url 'ingredients' category.id%} class="tag">
                <h5>{{category.name}}</h5>
                <p>{{ingredients|length}} ingredient</p>
         {%endif%}
         </a>
     {%endfor%}
    <!-- end of single tag -->
   </section>
</main>
{% include 'fotter.html' %}

{% endblock content %}
