{% extends 'base.html'%} {% load static %} {%block title%} Reciepes {%endblock title%} 

{% block content %}
<section class="recipes-container">
    <!-- tag container -->
    {%if recipes %}
    <div class="tags-container">
      <h4>Tags</h4>
      {% include 'tags.html' %}
    </div>
    <!-- end of tag container -->
    <!-- recipes list -->
    <div class="recipes-list">
      <!-- single recipe -->
      {% for recipe in recipes|dictsortreversed:"id" %}
      <a href="{%url 'recipe_detail' recipe.id %}" class="recipe">
        <img
          src={{recipe.image.url}}
          class="img recipe-img"
          alt=""
        />
        <div class="d-flex justify-content-between">
          <div>
            <h5>{{recipe.name}}</h5>
            <p>Prep : {{recipe.prep_time}} | Cook : {{recipe.cook_time}}</p>
          </div>
          <p>by: {{recipe.profile}}</p>
        </div>
      </a>
      <!-- end of single recipe -->
      {% endfor %}
    </div>
    {%else%}
    <p>Their is no Recipes</p>
    {%endif%}
    <!-- end of recipes list -->
  </section>
{%endblock content%}
