{% extends 'base.html'%} {% load static %} {%block title%} Reciepes {%endblock title%} 

{% block content %}
<section class="recipes-container">
    <!-- tag container -->
    {%if recipes %}
    <div class="tags-container">
      <h4>recipes</h4>
      <div class="tags-list">
        <a href="tag-template.html">Beef (1)</a>
        <a href="tag-template.html">Breakfast (2)</a>
        <a href="tag-template.html">Carrots (3)</a>
        <a href="tag-template.html">Food (4)</a>
      </div>
    </div>
    <!-- end of tag container -->
    <!-- recipes list -->
    {% for recipe in recipes %}
    <div class="recipes-list">
      <!-- single recipe -->
      <a href="{%url 'recipe_detail' recipe.id %}" class="recipe">
        <img
          src={{recipe.image.url}}
          class="img recipe-img"
          alt=""
        />
        <h5>{{recipe.name}}</h5>
        <p>Prep : {{recipe.prep_time}} | Cook : {{recipe.cook_time}}</p>
      </a>
      <!-- end of single recipe -->
    </div>
    {% endfor %}
    {%else%}
    <p>Their is no Recipes</p>
    {%endif%}
    <!-- end of recipes list -->
  </section>
{%endblock content%}
